<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<link th:href="@{css/index.css}" href="../static/css/index.css" type="text/css" rel="stylesheet">
<body id="body">

<div id="app-login">
    <span th:bgcolor="aqua">欢迎登陆云志飞的博客</span><br/><br/>
    <form action="/login" id="login-form" method="post">
        <input id="app-login-name" name="name" required type="text" placeholder="请输入您的账户名"/><br/><br/>
        <input id="app-login-pwd" required name="pwd" type="password" placeholder="请输入密码"/><br/><br/>
        <input id="app-login-submit" value="登录" type="submit" onclick="return checkLogin(this.form)"/><br/><br/>
    </form>
</div>
</body>
</html>